body {
  margin: 0px;
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
  background-color: #E5E5E5;
}

.form-container {
  background-color: white;
  width: 600px;
  /* height: 500px; */
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #b7b7b7;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.main-container{
  padding-top: 60px;
  padding-left: 185px;
  padding-right: 185px;
  display: flex;
  flex-direction: column;
}

.main-container-custom{
  padding-top: 60px;
  padding-left: 185px;
  padding-right: 185px;
  display: flex;
  flex-direction: column;
}

.main-header{
  padding: 1rem 2rem;
  background-color: #282727;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text {
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: 'Lexend Deca', sans-serif;
}
.table-header{
  background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border: 1px solid #000;
    text-transform: uppercase;
}

.passage-logo {
  background-image: url('https://storage.googleapis.com/passage-docs/passage-logo-dark.svg');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.vc-logo {
  background-image: url('add link here');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.spacer {
  flex-grow: 1;
}

.header-link {
  margin-right: 10px;
  color: white;
  text-decoration-color: white;
}

.btn-primary-delete{
  background-color: #f50707;
  padding: 10px;
  border: 1px solid #ccc;
}

.footer {
  text-align: center;
  font-size: 1.25em;
  margin: 2em;
  font-family: 'Lexend Deca', sans-serif;
}

label {
  font-size:14px;
  font-weight:normal;
  font-family:'DM Sans';
  color:black;
}

input {
  align-self: center;
  padding:0.75em;
  border:1px solid #dbdbdb;
  border-radius:5px;
  width: 220px;
  height:40px;
  font-size:14px;
}

input::placeholder {
  color:rgba(34,40,58, 0.3);
}
